<div class="container">
	<h2 class="col-md-6 col-md-offset-3 center">Sign In</h2>
	<form class="form-horizontal col-md-6 col-md-offset-3 submit-form" role="form">

		  <div class="form-group">
		    <label  class="col-sm-2 col-md-2 control-label">Email:</label>
		    <div class="col-sm-10 col-md-10">
		      {{ view Ember.TextField value=email class="form-control col-sm-10"}}
		    </div>
		  </div>

		  <div class="form-group">
		    <label class="col-sm-2 control-label">Password:</label>
		    <div class="col-sm-10">
		      {{ view Ember.TextField value=password class="form-control col-sm-10" type="password"}}
		    </div>
		  </div>

		  <div class="form-group">
		  	<div class="col-sm-offset-2 col-sm-10">
		  	    <div class="checkbox">
		      		<label>
		          		{{ view Ember.Checkbox checkedBinding="remember"}} Remember Me
		       	</label>
		      	    </div>
		    	</div>
		  </div>

		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-default" value="Sign In" {{action "signIn"}}>Sign In</button>
		    </div>
		  </div>
	</form>
</div>
<div class="container">
	{{#link-to 'users.new'}}No Account? Register{{/link-to}}
</div>
