<div class="container">
  <h3><small>Username:</small> {{username}}</h3>
  <h3><small>Email:</small> {{email}}</h3>
</div>
<div class="container user-stories">
	<h3>Stories submited:</h3>
	<ul class="list-group col-sm-4">
	{{#each story in stories}}
		<li class="list-group-item">{{#link-to 'story' story}}{{story.title}}{{/link-to}}<span class="badge">14 pts</span></li>
	{{/each}}
	</ul>
</div>