@import url("http://fonts.googleapis.com/css?family=Lato:300");

$main-color: #6A50A7;
$main-color-light: lighten(#8067B7, 15%);
$main-ultra-light: lighten(#6A50A7, 35%);

@mixin transition($property, $duration) {
	-webkit-transition: $property $duration ease-in-out;
	-moz-transition: $property $duration ease-in-out;
	     -o-transition: $property $duration ease-in-out;
	         transition: $property $duration ease-in-out;
}

.navbar-default .navbar-brand,
.navbar-default,
.navbar-brand {font-family: Lato; color: $main-color; font-size: 1.2em;}

.btn-default {
	@include transition(background-color, 0.5s);
}

nav li button a {
	color: $main-color-light;
	@include transition(color, 0.5s);
	&:hover {text-decoration: none; color: $main-color;}
}

.news-item {
	margin-bottom: 20px;
	padding: 10px 0 5px 0;

	a {
		color: $main-color-light;
		@include transition(color, 0.5s);
	}

	span {color: lighten(black, 75%); }

	a:hover {
		color: darken($main-color, 15%);
		text-decoration: none;
	}

	.rank {
		h3, span {color:  lighten(black, 75%);}
		span:hover {color:gold;}
	}

	.title {
		font-family: Lato; font-weight: 100;
		margin-top: 0;
		color: $main-color;
		.domain{color: lighten(black, 75%); font-size: 75%}
		@include transition(color, 0.5s);
	}	
	.title:hover {
		color: $main-ultra-light;
	}

	p {color: lighten(black, 75%); }
}

.story {
	h1, .summary {text-align: center;}
	h1 {font-family: Lato; font-weight:100; color: $main-color;}
	
}

.submit-form {
	padding: 15px 0;
}

.space {margin-left: 15px;}